.cart {
    background-color: #CCE8FF;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 20px 10px;
    position: sticky;
    top: 0;

}

.cart h2 {
    color: blueviolet;
}



.remove-icon {
    margin-top: 13px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: #4b7bec;
    border: 1px solid #4b7bec;
    border-radius: 100%;
    cursor: pointer;
}

.table-div {
    display: flex;
    justify-content: center;
}

.remove-icon:hover {
    background-color: #45aaf2;
}

.btn {
    margin-top: 20px;
}

.btn button {
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #8854d0;
    color: #fff;
}

.btn button:hover {
    background-color: #a55eea;
}

.winItem {
    padding: 10px;
    background-color: #3867d6;
    color: #ffff;
    font-size: 15px;
    border-radius: 5px;
}

.cart-box {
    display: none;
}

.cart-box {
    display: none;


}

.close-cart {

    display: none;
}

@media screen and (max-width: 768px) {


    .cart {
        position: fixed;
        top: 0;
        bottom: 50%;
        width: 80%;

        /* background-color: red; */

        height: 100%;

    }



    .cart-box {
        display: block;
        position: fixed;
        top: 50%;
        bottom: 50%;
        right: 0;
        cursor: pointer;

    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .close-cart {
        text-align: center;
        margin: 10px auto;
        display: block;
    }

    .cart-box p {
        display: flex;
        justify-content: center;
        font-size: 15px;
        background-color: #a55eea;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        margin: 0 auto;
        color: #fff;
    }
}